.userimage {
	max-width: 200px;
	max-height: 200px;
}

.forminput {
	width: 80%;
}

.centerpanel {
	height: 100%;
	overflow: auto;
}

.samedepartment {
	color: #5cb85c;
}

.likebutton {
	margin-right: 10px;
}